.caja{
    background-color: white;
    margin-left: 12%;
    width: 77%;
    height: max-content;
    border-radius: 5px;
}

.card{
    margin: 2%;
    padding: 1%;
    position: relative;
    float: left;
    border-radius: 25px;
    height: 10%;
}

.card-img-top{
    width: 195px;
    height: 290px;
    border-radius: 10px;

}


/* Css de Watch.php*/

.capitulo{
    margin-left: 20%;
    width: 50%;
    height: 500px;
}

.captext{
    margin-left: 20%;

}